[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pygit2 = "*"
mypy = "*"
black = "*"
flake8 = "*"
darglint = "*"
pytest = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
